/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/build/
/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/build/
/Udemy Java Master Class (1-12)/HelloWorld/nbproject/private/
/Udemy Java Master Class (1-12)/HelloWorld/build/
