/labs/11-ArraysLoopsDates/Practices/Practice1/11-ArraysLoopsDates_Practice1/build/
/labs/11-ArraysLoopsDates/Practices/Practice2/11-ArraysLoopsDates_Practice2/build/
/labs/13-Interfaces/Practices/Practice2/13-UsingInterfaces_Practice2/build/
/labs/13-Interfaces/Practices/Practice3/13-UsingInterfaces_Practice3/build/
/Udemy Java Master Class (1-12)/HelloWorld/nbproject/private/
/Udemy Java Master Class (1-12)/HelloWorld/build/
/Udemy Java Master Class (1-12)/academy.learnprogramming/nbproject/private/
/Udemy Java Master Class (1-12)/academy.learnprogramming/build/
/Udemy Java Master Class (1-12)/ByteShortIntLong/nbproject/private/
/Udemy Java Master Class (1-12)/ByteShortIntLong/build/
/Udemy Java Master Class (1-12)/Project4/nbproject/private/
/Udemy Java Master Class (1-12)/Project4/build/
/labs/14-Exceptions/Practices/Practice1/14-Exceptions_Practice1/build/
/Java Dummies/JavaApplication1/nbproject/private/
/Java Dummies/JavaApplication1/build/
/Java Dummies/Dummies/nbproject/private/
/Java Dummies/Dummies/build/
/Java Dummies/FilesAndDatabases/nbproject/private/
/Java Dummies/FilesAndDatabases/build/
/Head First Java/HeadFirstJava/nbproject/private/
/Head First Java/HeadFirstJava/build/
